{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}

    <table class="table">
        <tr>
            <th>Full name</th>
            <th>Phone number</th>
            <th>Email address</th>
            <th>Date of birth</th>
            <th>Uploaded file name</th>
        </tr>
    </table>

{% endblock %}

{% block javascripts %}

{% endblock %}